.sidenav a {
  position: absolute; /* Posicionamiento relativo a la ventana del navegador */
  left: -100px; /* Inicialmente fuera de pantalla */
  transition: 0.3s; /* Transición suave */
  padding: 15px;
  width: 120px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  border-radius: 0 5px 5px 0;
}

.sidenav a:hover {
  left: 0; /* Aparece al pasar el mouse */
}
